body {
  margin: 0 auto;
  font-family: Commisioner, sans-serif;
  background-color: white;
  min-width: 440px;
}

.container {
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header-top {
  position: relative;

  background-image: url('./assets/starfield.jpeg');
  background-size: cover;

  height: 120px;
  /* background: linear-gradient(90deg, #4d4d4d 0%, #000000 100%); */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.header-top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, #171717 100%);
}


.header-logo {
  width: 60px;
}

.header-top > .container > h1 {
  font-size: 2.1rem;
  letter-spacing: 4px;
  font-variant-caps: small-caps;
}

.header-banner {
  height: 30px;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  padding: 15px;

  align-content: center;

  font-size: 1.4rem;
  font-variant-caps: small-caps;
  letter-spacing: 2px;
  font-weight: 100;
}
